.card {
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.36);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 10px;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_top img {
  width: 40px;
  height: 40px;
}
.card_top {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}
.card_mid {
  margin-right: 80px;
  font-weight: 400;
  font-size: 15px;
  line-height: 8px;
  color: #303345;
}
.card_last {
    margin-right: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 8px;
  color: #303345;
}
.days_type{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
.type_active{
    font-weight: 700;
font-size: 25px;
line-height: 10px;
color: #313341;
}
.alert{
    font-weight: 400;
font-size: 15px;
line-height: 10px;
color: #D6996B;

}
.alert_type{
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
    color: #D6996B;
    padding-left: 35px;
}
.icon_type{
    font-size: 15px;
    color: #D6996B;
    border: 1px solid #D6996B;
transform: rotate(0deg);

}
